// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// CHEZ MAURICE COLORS
$yellow : rgb(187, 198, 35);
$turquoise: rgb(0, 198, 194);
$green: rgb(0, 204, 0);
$pink: rgb(211, 0, 191);
$red: rgb(207, 0, 0);
$blue: rgb(80, 122, 234);
