<div id="home-menu">
  <div id="inner-menu">
    <div class="center-menu-elements">

      <div class="left-menu-elements">

        <%#= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", id: 'home-navbar-logo' %>
      </div>

      <div id="home-menu-links">
        <p class="home-link">ACCUEIL</p>
        <p class="gallery-link">PRODUCTIONS</p>
        <p class="info-link">INFOS</p>
        <p class="contact-link">CONTACT</p>
      </div>

      <div class="right-menu-elements">
        <div id="social-links">
          <p><i class="fab fa-facebook"></i></p>
          <p><i class="fab fa-instagram"></i></p>
          <p><i class="fab fa-vimeo"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
