<!-- CONTACT PAGE -->
  <div id="contact-page">

    <%= render 'shared/navbar' %>

    <div id="contact-scrollable-content">

      <div class="contact-container">
        <%= render 'contact', contact: @contact %>
      </div>

      <%= render 'shared/footer' %>

    </div> <!-- <div id="contact-scrollable-content"> -->


  </div>
  <!-- END OF CONTACT PAGE -->
