<div class="home-container" id="home-div">

  <!-- HOME PAGE -->
  <div class="homepage">

    <%= video_tag 'bckgrnd_video.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <!-- <div id="video-opacity"></div> -->

    <!-- <div id="home-banner-overlay"> -->

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%#= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <!-- <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2> -->

    <!-- </div> -->


  </div>
  <!-- END OF HOME PAGE -->

</div> <!-- END GENERAL LAYOUT -->
<div class="info-container" id="info-div">
  <h1 id="info-page-title">CHEZ MAURICE PRODUCTION</h1>
  <h2 class="info-h2">Conseil & Production audiovisuelle</h2>
  <p class="info-paragraph">Nous sommes créateurs de contenus audiovisuels : film corporate, brand content, vidéo
  produit... <br>
  Nous abordons avec passion et créativité tous vos projets, des plus conventionnels
  aux plus décalés. <br>
  Réactifs et agiles, nous intervenons à chaque étape de la conception de votre film : conseil,
  scénarisation, tournage, et postproduction. <br>
  Chez Maurice, vous trouverez une équipe aux petits soins et l’expertise technique pour
  donner vie à tous vos projets !</p>

  <div class="info-lists">
    <!-- <div class="lists-container"> -->
      <div id="preprod-cont" class="list-group-element">
        <div class="logo-container">
          <%= image_tag "preprod.png", alt: "preprod-img", class: 'info-logo' %>
        </div>
        <h3>Pré production</h3>
<!--           <ul class="info-lists">
            <li>Conseil & conception</li>
            <li>Scénarisation</li>
            <li>Story-board</li>
            <li>Repérage</li>
          </ul> -->
        <p class="info-list">
          Conseil & conception <br>
          Scénarisation <br>
          Story-board <br>
          Repérage
        </p>
      </div>
      <div id="prod-cont" class="list-group-element">
        <div class="logo-container">
          <%= image_tag "prod.png", alt: "prod-img", class: 'info-logo' %>
        </div>
        <h3>Production</h3>
<!--           <ul class="info-lists">
            <li>Mise en scène</li>
            <li>Réalisation</li>
            <li>Maquillage</li>
          </ul> -->
        <p class="info-list">
          Mise en scène <br>
          Réalisation <br>
          Maquillage
        </p>
      </div>
      <div id="postprod-cont" class="list-group-element">
        <div class="logo-container">
          <%= image_tag "postprod.png", alt: "postprod-img", class: 'info-logo' %>
        </div>
        <h3>Post production</h3>
<!--           <ul class="info-lists">
            <li>Encodage</li>
            <li>Montage</li>
            <li>Motion design & sound design</li>
            <li>Transcription & sous-titrage</li>
            <li>Voix-off</li>
            <li>Étalonnage, mixage</li>
          </ul> -->
        <p class="info-list">
          Encodage <br>
          Montage <br>
          Motion design & sound design <br>
          Transcription & sous-titrage <br>
          Voix-off <br>
          Étalonnage, mixage
        </p>
      </div>
    <!-- </div> -->
  </div>
</div>

<!-- FIRST VISIT VIDEO -->
<%# if @first_visit %>
  <!-- <div id="welcome-video-container"> -->
    <%#= video_tag 'geh.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: true,
                   playsinline: true,
                   muted: true,
                   loop: false,
                   controls: false,
                   type: 'video/mp4',
                   id: 'welcome-video' %>
  <!-- </div> -->
<%# end %>














