<div class="general-layout">

  <!-- HOME PAGE -->
  <div class="homepage">

    <%= video_tag 'bckgrnd_video.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <!-- <div id="video-opacity"></div> -->

    <div id="home-banner-overlay">

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <!-- <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2> -->

    </div>


  </div>
  <!-- END OF HOME PAGE -->

</div> <!-- END GENERAL LAYOUT -->

<!-- FIRST VISIT VIDEO -->
<% if @first_visit %>
  <div id="welcome-video-container">
    <%= video_tag 'geh.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: true,
                   playsinline: true,
                   muted: true,
                   loop: false,
                   controls: false,
                   type: 'video/mp4',
                   id: 'welcome-video' %>
  </div>
<% end %>














