<% content_for :meta_title, "Chez Maurice Production - À Propos" %>
<% content_for :meta_description, "Apprenez-en plus sur nous Chez Maurice Production" %>

<div class="info-container">
  <h1 id="info-page-title">CHEZ MAURICE PRODUCTION</h1>
  <h2 class="info-h2">Conseil & Production audiovisuelle</h2>
  <p class="info-paragraph">Nous sommes créateurs de contenus audiovisuels : film corporate, brand content, vidéo
  produit... nous abordons avec passion et créativité tous vos projets, des plus conventionnels
  aux plus décalés. <br>
  Réactifs et agiles, nous intervenons à chaque étape de la conception de votre film : conseil,
  scénarisation, tournage, et postproduction. <br>
  Chez Maurice, vous trouverez une équipe aux petits soins et l’expertise technique pour
  donner vie à tous vos projets !</p>

  <div class="info-lists">
    <div class="lists-container">
      <h5>Pré production</h5>
        <ul>
          <li>Conseil & conception</li>
          <li>Scénarisation</li>
          <li>Story-board</li>
          <li>Repérage</li>
        </ul>
      <h5>Production</h5>
        <ul>
          <li>Mise en scène</li>
          <li>Réalisation</li>
          <li>maquillage</li>
        </ul>
      <h5>Post production</h5>
        <ul>
          <li>Encodage</li>
          <li>Montage</li>
          <li>Motion design / sound design</li>
          <li>Transcription & sous-titrage</li>
          <li>Voix-off</li>
          <li>Étalonnage, mixage</li>
        </ul>
    </div>
  </div>
</div>
