<% content_for :meta_title, "Mentions Légales | Chez Maurice Production" %>
<% content_for :meta_description, "Apprenez-en plus sur nous Chez Maurice Production" %>

<div class="legal-container">
  <h1 style="visibility: hidden;">Mentions Légales - Chez Maurice Production</h1>
  <h1 id="legal-title">MENTIONS LÉGALES</h1>
  <h5 class="return-from-legal"><i class="fas fa-arrow-left"></i> Retour vers le site</h5>
  <p id="legal-paragraph">Ce site est édité par l’EURL CHEZ MAURICE PRODUCTION au capital de 2 000€ immatriculée
  sous le numéro 881 292 676 au RCS de PARIS, et dont le siège social est situé au 77, avenue
  Philippe Auguste 75011 Paris.<br><br>

  <strong>DIRECTION DE LA PUBLICATION</strong><br>
  Pierre-Alexandre CORBIER<br><br>

  <strong>HÉBERGEUR DU SITE</strong> <br>
  Namecheap<br>
  www.namecheap.com<br><br>

  <strong>PROPRIÉTÉ ET DROIT D’AUTEUR</strong><br>
  L’ensemble de ce site relève des législations française et internationale sur le droit d’auteur
  et la propriété intellectuelle. Toute reproduction, modification, publication totale ou
  partielle du site et/ou des éléments se trouvant sur ce site est strictement interdite. Toute
  exploitation non autorisée du Site ou de son contenu, des informations qui y sont
  divulguées, sous quelque forme ou par quelque procédé que ce soit, engagerait la
  responsabilité de l’utilisateur et constituerait une contrefaçon sanctionnée par les articles L-
  335-2 et suivants du code de la propriété intellectuelle.<br><br>

  <strong>LIMITATIONS DE RESPONSABILITÉ</strong><br>
  Les informations diffusées sur le site sont données à titre purement informatif et indicatif.
  Chez Maurice Production se réserve le droit de corriger, à tout moment et sans préavis, le
  contenu.<br><br>

  <strong>DONNÉES PERSONNELLES</strong><br>
  L’internaute dispose d’un droit d’accès, de rectification, de suppression, d’interrogation en
  cas de données erronées et/ou incomplètes, ainsi qu’un droit d’opposition pour motif
  légitime ou ne plus recevoir de prospection. Ainsi, vous pouvez demander à ce que nous
  modifions et/ou supprimions les informations vous concernant par simple courrier
  électronique adressé à notre Directeur de la Publication
  à contact@chezmauriceproduction.com.
  </p>

  <h5 class="return-from-legal"><i class="fas fa-arrow-left"></i> Retour vers le site</h5>

</div>
