<%# coding: utf-8 %>
<% Encoding.default_external = "UTF-8" %>
<% if @contact.errors.any? %>
  alert("Erreur(s): <%= @contact.errors.full_messages.join('; ') %>")
<% else %>
  console.log('contact sent')
  document.querySelector('.contact-page-form').innerHTML = '<div class="sent-notice-image"><h4>Message envoyé!</h4><%= image_tag "sent-letter.png", class: "sent-notice-image-photo" %></div>';
<% end %>
