<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Demande de contact n°<%= @contact.id %></h2>
    <h3>De la part de <%= @contact.name %> (mail: <%= @contact.email %>)</h3>
    <p>Demande de contact: <br>
        <%= @contact.content %></p>
  </body>
</html>
