#contact-page {
  height: 100vh;
  width: 100vw;
  transform: translate(-100%, -100%);
  position: absolute;
  overflow: scroll;
  opacity: 0;
  background-color: white;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  // transition: all 1s ease, translate-y 0ms ,top 0ms;
}

.contact-container {
  width: 80%;
  min-height: 93vh;
  margin: 0 auto;
}

#contact-page::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

#contact-page.displayed {
  transform: translate(0%, -100%);
  z-index: 30;
  opacity: 1;
  display: block;
  transition: all 1s ease, top 0ms;
}

#contact-page.reload-displayed {
  transform: translate(0%, -100%);
  z-index: 30;
  opacity: 1;
  display: block;
}

#contact-scrollable-content {
  min-height: 93vh;
  width: 100%;
  margin-top: 7vh;
}

#contact-page.hidden {
  transition: all 1s ease, top 0ms;
  transform: translate(-100%, -100%);
  z-index: 30;
  opacity: 0;
}

#close-contact-arrow {
  cursor: pointer;
}

.form-contact-input {
  border: 0px;
  border-bottom: 1px solid lightgrey;
}

.contact-page-top {
  min-height: 21.5vh;
  display: flex;
  .contact-top-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-top-right {
    width: 50%;
  }
}

.contact-page-mid {
  // min-height: 50vh;
}

.contact-page-bottom {
  min-height: 21.5vh;
  display: flex;
  margin-top: 5vh;
  .contact-bottom-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
  .contact-bottom-right {
    width: 60%;
    background-color: grey;
  }
}


















