@media (max-width:1125px) {
  .contact-container {
    width: 100%;
    padding: 5vh 6vw;
  }
  .contact-page-infos-and-map {
    flex-direction: column;
    height: 15vh;
    .contact-page-infos-and-map-left {
      width: 100%;
    }
    .contact-page-infos-and-map-right {
      // width: 100vw;
      // height: 20vh;
    }
  }
  .contact-bottom {
    flex-direction: column;
    margin-bottom: 8vh;
  }
  .contact-page-form {

  }
  .contact-page-address {
    text-align: center;
  }

  .contact-sml {
    display: block;
    width: 100%;
    height: 20vh;
    margin-top: 7vh;
    margin-bottom: 2vh;
  }
  .contact-lg {
    display: none;
  }
  #contact-catchtitle {
    font-size: 3rem;
    text-align: center;
  }

  #contact-catchphrase {
    font-size: 1.2rem;
    text-align: center;
  }
}

// @media (min-width:601px) and (max-width: 1125px) {
//   .contact-container {
//     width: 90%;
//   }
//   .contact-page-infos-and-map {
//     flex-direction: column;
//     .contact-page-infos-and-map-left {
//       width: 50%;
//     }
//     .contact-page-infos-and-map-right {
//       width: 50%;
//     }
//   }
//   .contact-lg {
//     display: block;
//   }
// }

@media (min-width:1126px) {
  .contact-container {
    width: 80%;
    padding: 5vh 0;
  }
  .contact-page-infos-and-map {
    justify-content: space-between;
    min-height: 25vh;
    .contact-page-infos-and-map-left {
      width: 50%
    }
    .contact-page-infos-and-map-right {
      width: 47%;
    }
  }
  .contact-bottom {

  }
  .contact-page-form {
    width: 47%;
  }
  .contact-page-address {
    text-align: right;
    width: 47%;
  }
  .contact-sml {
    display: none;
  }
  .contact-lg {
    display: block;
  }
  #contact-catchtitle {
    font-size: 4.5rem;
  }

  #contact-catchphrase {
    font-size: 2.2rem;
    font-weight: 300;
  }
}

#map {
  height: 100%;
  width: 100%
}

.contact-container {
  // width: 80%;
  // min-height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#close-contact-arrow {
  cursor: pointer;
}

.form-contact-input {
  border: 0px;
  border-bottom: 1px solid lightgrey;
}
.green {
  border-bottom: 1px solid turquoise !important;
}
.red {
  border-bottom: 1px solid red !important;
}

#contact-catchtitle {
  // font-size: 4.5rem;
}

#contact-catchphrase {
  // font-size: 2.2rem;
  font-weight: 300;
}

.contact-page-infos-and-map {
  display: flex;
  margin-bottom: 2vh;
  // margin-top: 5vh;
  .contact-page-infos-and-map-left {
    // width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-page-infos-and-map-right {
    // width: 50%;
    background-color: grey;
  }
}

.contact-bottom {
  display: flex;
  justify-content: space-between;
  .contact-page-form {
    background-color: rgba(255, 255, 255, 0.01);

    .form-last-line {
      display: flex;
      justify-content: space-between;
    }
    .mandatory-notice {
      margin: 0.5rem 0 0 0;
      font-weight: 300;
      font-size: 0.6rem;
    }
    input {
      padding: 0;
      font-weight: 100;
    }
    textarea {
      font-weight: 100;
      padding: 0;
    }
    .legal-notice {
      font-size: 0.5rem;
      font-weight: 300;
      margin: 0.2rem 0 0 0;
    }
  }
  .contact-page-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      margin-bottom: 0;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

.contact-page-form:not(:focus-within) {
  background-color: rgba(255, 255, 255, 0.02);
  transition: background-color 0.01s;
}

.contact-form-element {

}

#send-contact-btn {
  height: 2.25rem;
  margin: auto 0;
}

.legal-link {
  color: rgba(0, 0, 0, 1);
  &:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}

.title-contact-link {
  color: black;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

.sent-notice-image {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sent-notice-image-photo {
  width: 60%;
  margin: 1rem auto 0 auto;
}

.submit-form-btn {
  border: 1px solid rgba(65, 102, 222, 0.2);
  background-color: rgba(65, 102, 222, 0.5);
  padding: 5px 25px !important;
  border-radius: 5px;
  color: white;
  font-weight: 500 !important;
  // &:disabled {
  //   border: 1px solid rgba(65, 102, 222, 0.05);
  //   background-color: rgba(65, 102, 222, 0.2);
  // }
  // &:hover:disabled {
  //   border: 1px solid rgba(65, 102, 222, 0.2);
  //   background-color: rgba(65, 102, 222, 0.5);
  // }
  transition: all 0.5s ease;
  &:hover {
    border: 1px solid rgba(65, 102, 222, 0.3);
    background-color: rgba(65, 102, 222, 0.7);
    transition: all 0.5s ease;
  }
}

.form-control {
  background-color: rgba(255, 255, 255, 0);
}








