#contact-page {
  height: 100vh;
  width: 100vw;
  transform: translate(-100%, -100%);
  position: absolute;
  overflow: scroll;
  opacity: 0;
  color: black;
  background-color: white;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  // transition: all 1s ease, translate-y 0ms ,top 0ms;
}

.contact-container {
  width: 80%;
  min-height: 75vh;
  margin: 10vh auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 0;
}

#contact-page::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

#contact-page.displayed {
  transform: translate(0%, -100%);
  z-index: 30;
  opacity: 1;
  display: block;
  transition: all 1s ease, top 0ms;
}

#contact-page.reload-displayed {
  transform: translate(0%, -100%);
  z-index: 30;
  opacity: 1;
  display: block;
}

#contact-scrollable-content {
  min-height: 90vh;
  width: 100%;
  margin-top: 10vh;
}

#contact-page.hidden {
  transition: all 1s ease, top 0ms;
  transform: translate(-100%, -100%);
  z-index: 30;
  opacity: 0;
}

#close-contact-arrow {
  cursor: pointer;
}

.form-contact-input {
  border: 0px;
  border-bottom: 1px solid lightgrey;
}
.green {
  border-bottom: 1px solid turquoise !important;
}
.red {
  border-bottom: 1px solid red !important;
}

.contact-bottom {
  display: flex;
  .contact-page-form {
    width: 50%;

    .form-last-line {
      display: flex;
      .mandatory-notice {
        margin: 0 1vw;
      }
    }
    .legal-link {
      color: rgba(0, 0, 0, 0.7);
    }
    input {
      padding: 0;
    }
    textarea {
      padding: 0;
    }
    .legal-notice {
      font-size: 0.75rem;
      margin: 1rem 0 0 0;
    }
  }
  .contact-page-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    width: 50%;
    p {
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
}


.contact-page-infos-and-map {
  min-height: 25vh;
  display: flex;
  margin-bottom: 2vh;
  // margin-top: 5vh;
  .contact-page-infos-and-map-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-page-infos-and-map-right {
    width: 50%;
    background-color: grey;
  }
}

.title-contact-link {
  color: black;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

.sent-notice-image {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sent-notice-image-photo {
  width: 60%;
  margin: 1rem auto 0 auto;
}

.submit-form-btn {
  border: 1px solid rgba(65, 102, 222, 0.2);
  background-color: rgba(65, 102, 222, 0.5);
  padding: 5px 25px !important;
  border-radius: 5px;
  color: white;
  &:disabled {
    border: 1px solid rgba(65, 102, 222, 0.05);
    background-color: rgba(65, 102, 222, 0.2);
  }
  &:hover:disabled {
    border: 1px solid rgba(65, 102, 222, 0.2);
    background-color: rgba(65, 102, 222, 0.5);
  }
  &:hover:enabled {
    border: 1px solid rgba(65, 102, 222, 0.3);
    background-color: rgba(65, 102, 222, 0.7);
  }
}











