@media (max-width:900px) {
  .footer-lrg {
    display: none;
  }
  // .footer-med {
  //   display: none;
  // }
  .footer-sml {
    display: block;
  }
}

// @media (min-width: 426px) and (max-width: 850px) { // 600 pour tous autres
//   .footer-lrg {
//     display: none;
//   }
//   .footer-med {
//     display: block;
//   }
//   .footer-sml {
//     display: none;
//   }
// }

@media (min-width:901px) { // 601 pour tous autres
  .footer-lrg {
    display: block;
  }
  // .footer-med {
  //   display: none;
  // }
  .footer-sml {
    display: none;
  }
}
// ======================================== FOOTER LARGE ============================================
.footer-lrg {
  height: 15vh;
  min-height: 150px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.03);
  font-weight: 300;
}

.footer-lrg-top {
  height: 13vh;
  min-height: 130px;
  display: flex;
  justify-content: space-evenly;
  p {
    margin-bottom: 0 !important;
  }
  .footer-lrg-right {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .footer-lrg-left {
    width: 50%;
    display: flex;
    justify-content: center;
    .footer-lrg-left-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h5 {
        font-weight: 300;
      }
    }
  }
}

.footer-lrg-bottom {
  height: 2vh;
  min-height: 20px;
  font-size: 0.85rem;
  text-align: right;
  p {
    margin-right: 1vw;
    margin-bottom: 0 !important;
  }
}

.sn-links-footer-lrg {
  font-size: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 25px 10px 25px;
  white-space: nowrap;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}

.frl {
  width: 50%;
}

.frr {
  width: 50%;
}
.legal-link-footer {
  color: black;
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}
// ======================================== FOOTER LARGE END ========================================


// // ======================================== FOOTER MEDIUM ============================================
// .footer-med {
//   height: 200px;
//   background-color: rgba(0, 0, 0, 0.03);
//   width: 100vw;
// }
// // ======================================== FOOTER MEDIUM END ========================================


// ======================================== FOOTER SMALL ============================================
.footer-sml {
  height: 210px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100vw;
  padding-top: 7px;
}

.footer-sml-address {

}

#title-sml {
  color: black;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 1.3rem;
  text-align: center;
}

#title-address {
  color: black;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  // width: max-content;
  // margin: 5px auto;
  a {
    color: black;
  }
}

.footer-sml-sn-links {
  color: black;
  display: flex;
  justify-content: center;
  font-weight: 300;
  a {
    font-size: 0.9rem;
  }
}

.footer-sml-copyright {
  color: black;
  font-weight: 100;
  font-size: 0.7rem;
  text-align: center;
  position: absolute;
  // margin: 23px 0 0 0;
  p {
    text-align: center;
    width: 100vw;
  }
}
// ======================================== FOOTER SMALL END ========================================











































