@media (max-width:600px) {
  .gallery-grid {
    grid-template-columns: auto auto;
  }
  .video-card {
    width: 50vw;
    height: 28.125vw;
  }
  .thumbnail-div {
    height: 28.125vw;
  }
  .thumbnail-overlay {
    top: -28.125vw;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 300;
  }
  .thumbnail-overlay-title {
    font-size: 0.7rem;
  }
  .sortable-list-container {
    display: none;
  }
  #sortable-title {
    display: none;
  }
  .category-links-container {
    display: grid;
    grid-template-columns: 50vw 50vw;
    // flex-direction: column;
  }
  .made-up-srch-btns {
    margin: 1vh;
    text-align: center;
    font-size: 0.85rem;
  }
  // .admin-buttons {
  //   display: flex;
  //   font-size: 0.8rem;
  //   justify-content: space-evenly;
  // }
  // .modify-video-button {
  //   padding: 2px 7px;
  //   // min-width: 50%;
  //   // margin: 0.5rem auto 0 auto;
  // }
  // .delete-video-btn {
  // }
}

@media (min-width:601px) and (max-width:800px) {
  .gallery-grid {
    grid-template-columns: auto auto auto;
  }
  .video-card {
    width: 33.33333vw;
    height: 18.749vw;
  }
  .thumbnail-div {
    height: 18.749vw;
  }
  .thumbnail-overlay {
    top: -18.749vw;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 300;
  }
  .thumbnail-overlay-title {
    font-size: 0.9rem;
  }
  .category-links-container {
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
  }
  .made-up-srch-btns {
    margin: 1vh;
    text-align: center;
  }
}

@media (min-width:801px) {
  .gallery-grid {
    grid-template-columns: auto auto auto auto;
  }
  .video-card {
    width: 25vw;
    height: 14.06vw;
  }
  .thumbnail-div {
    height: 14.06vw;
  }
  .thumbnail-overlay {
    top: -14.06vw;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .thumbnail-overlay-title {
    font-size: 1rem;
  }
  .category-links-container {
    display: flex;
    justify-content: space-evenly;
  }
  // .modify-video-button {
  //   min-width: 50%;
  //   margin: 0.5rem auto 0 auto;
  //   padding: 2px 9px;
  // }
  // .delete-video-btn {
  //   min-width: 50%;
  //   margin: 0.5rem auto 0 auto;
  // }
}

.gallery-container {
  // width: 100%;
  // min-height: 75vh;
  // margin: 10vh auto 0 auto;
  padding: 5vh 0;
}

.gallery-title {
  text-align: center;
  &.user {
    margin-bottom: 2vh;
  }
  &.visitor {
    margin-bottom: 5vh;
  }
}

.close-gallery-link {
  cursor: pointer;
}

.gallery-grid {
  display: grid;
}

.admin-buttons {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-evenly;
}

.modify-video-button {
  padding: 2px 7px;
  text-align: center;
  cursor: pointer;
  width: min-content;
  border: 0.1px solid white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.1px solid black;
  }
}

.delete-video-btn {
  text-align: center;
  cursor: pointer;
  width: min-content;
  border: 0.1px solid white;
  border-radius: 3px;
  padding: 2px 9px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.1px solid black;
    text-decoration: none;
  }
}
// .video-card {
//   width: 25vw;
//   height: 14.06vw;
// }

.thumbnail-div {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}

.thumbnail-overlay {
  z-index: 21;
  position: relative;
  left: 0;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  // opacity: 0;
  // background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    opacity: 1;
  }
  p {
    color: white;
    margin-bottom: 0 !important;
  }
}

.thumbnail-overlay-title {
  overflow: hidden;
}

.sortable-list-container {
  width: max-content;
  margin: 2vh auto;
  li {
    cursor: grab;
    border: 1px solid lightgray;
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    list-style: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

#sortable-ul {
  padding: 0;
}

#search-form {
  display: none;
}

.category-links-container {
  // display: flex;
  width: 100%;
  // justify-content: space-evenly;
  margin: 1vh auto 3vh auto;
}

.made-up-srch-btns {
  cursor: pointer;
  font-weight: 300;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  // background-color: rgba(255, 255, 255, 0);
  // box-shadow: 0 0 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
  &:hover {
    transition: background-color 0.5s ease;
    // background-color: lightgrey;
    // box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  }
}

.srch-all {
  border: 1px solid rgba(0, 198, 194, 0.7);
  background-color: rgba(0, 198, 194, 0);
  &:hover {
  background-color: rgba(0, 198, 194, 0.7);
  }
}

.srch-all.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 198, 194, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}


.srch-bran {
  border: 1px solid rgba(211, 0, 191, 0.7);
  background-color: rgba(211, 0, 191, 0);
  &:hover {
  background-color: rgba(211, 0, 191, 0.7);
  }
}

.srch-bran.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(211, 0, 191, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}


.srch-corp {
  border: 1px solid rgba(0, 204, 0, 0.7);
  background-color: rgba(0, 204, 0, 0);
  &:hover {
  background-color: rgba(0, 204, 0, 0.7);
  }
}

.srch-corp.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 204, 0, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}


.srch-even {
  border: 1px solid rgba(207, 0, 0, 0.7);
  background-color: rgba(207, 0, 0, 0);
  &:hover {
  background-color: rgba(207, 0, 0, 0.7);
  }
}

.srch-even.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(207, 0, 0, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}


.srch-inte {
  border: 1px solid rgba(80, 122, 234, 0.7);
  background-color: rgba(80, 122, 234, 0);
  &:hover {
  background-color: rgba(80, 122, 234, 0.7);
  }
}

.srch-inte.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(80, 122, 234, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}


.srch-prod {
  border: 1px solid rgba(187, 198, 35, 0.7);
  background-color: rgba(187, 198, 35, 0);
  &:hover {
  background-color: rgba(187, 198, 35, 0.7);
  }
}

.srch-prod.filter-btn-active {
  transition: background-color 0.5s ease;
  background-color: rgba(187, 198, 35, 0.7);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease;
}






















































