@media (max-width:600px) {

}

@media (min-width:601px) {

}

#gallery-page {
  height: 100vh;
  width: 100vw;
  transform: translate(100%, -100%);
  position: absolute;
  overflow: scroll;
  opacity: 0;
  background-color: white;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  // transition: all 1s ease, translate-y 0ms ,top 0ms;
}

.gallery-container {
  width: 100%;
  min-height: 93vh;
  margin: 0 auto;
}

#gallery-page::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

#gallery-page.displayed {
  transform: translate(0%, -100%);
  z-index: 20;
  opacity: 1;
  display: block;
  transition: all 1s ease, top 0ms;
}

#gallery-scrollable-content {
  min-height: 93vh;
  width: 100%;
  margin-top: 7vh;
}

#gallery-page.hidden {
  transition: all 1s ease, top 0ms;
  transform: translate(100%, -100%);
  z-index: 20;
  opacity: 0;
}

.close-gallery-link {
  cursor: pointer;
}

.video-card {
  // background-color: yellow;
  width: 25vw;
  // height: calc( attr(width) / 16 * 9);
  // min-width: 150px;
  height: 14.06vw;
}

.thumbnail-div {
  width: 100%;
  height: 14.06vw;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}

.thumbnail-overlay {
  z-index: 21;
  position: relative;
  left: 0;
  top: -14.06vw;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    opacity: 1;
  }
  p {
    width: 100%;
    color: white;
    margin-bottom: 0 !important;
  }
}

// .thumbnail-div::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   height: 100%;
// }
