@media (max-width:600px) {

}

@media (min-width:601px) {

}

#gallery-page {
  height: 100vh;
  width: 100vw;
  // transform: translate(100%, -100%);
  // position: absolute;
  overflow: scroll;
  // opacity: 0;
  background-color: white;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  // transition: all 1s ease, translate-y 0ms ,top 0ms;
}

#gallery-page::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.gallery-container {
  // width: 100%;
  min-height: 75vh;
  // margin: 10vh auto 0 auto;
  padding: 5vh 0;
}

#gallery-page.displayed {
  transform: translate(0%, -100%);
  z-index: 20;
  opacity: 1;
  display: block;
  transition: all 1s ease, top 0ms;
}

#gallery-page.reload-displayed {
  transform: translate(0%, -100%);
  z-index: 20;
  opacity: 1;
  display: block;
}

#gallery-scrollable-content {
  min-height: 90%;
  margin-top: 10vh;
  // width: 100%;
  // margin-top: 10vh;
}

#gallery-page.hidden {
  transition: all 1s ease, top 0ms;
  transform: translate(100%, -100%);
  z-index: 20;
  opacity: 0;
}

.gallery-title {
  text-align: center;
  &.user {
    margin-bottom: 2vh;
  }
  &.visitor {
    margin-bottom: 5vh;
  }
}

.close-gallery-link {
  cursor: pointer;
}

// .gallery-grid {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.gallery-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.video-card {
  width: 25vw;
  height: 14.06vw;
}

.thumbnail-div {
  width: 100%;
  height: 14.06vw;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
}

.thumbnail-overlay {
  z-index: 21;
  position: relative;
  left: 0;
  top: -14.06vw;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    opacity: 1;
  }
  p {
    color: white;
    margin-bottom: 0 !important;
  }
}

.thumbnail-overlay-title {
  overflow: hidden;
}

.sortable-list-container {
  width: max-content;
  margin: 2vh auto;
  li {
    cursor: grab;
    border: 1px solid lightgray;
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    list-style: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

