// .navigation-bar {
//   height: 10vh;
//   background-color: black;
// }

#home-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.03);
}

#home-menu-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.5);
}

#inner-menu {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-menu-elements {
  display: flex;
  justify-content: space-between;
  height: 90%;
}

.left-menu-elements {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  p {
    margin: auto 0;
    cursor: pointer;
  }
}

.right-menu-elements {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  p {
    margin: auto 0;
    cursor: pointer;
  }
}

#home-menu-links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  p {
    margin: auto 0;
    cursor: pointer;
  }
}

.home-navbar-logo {
  height: 100%;
  cursor: pointer;
}

#social-links {
  display: flex;
  p {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.menu-link {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: black;
  }
}

.menu-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: black;
}

.sn-links {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    color: black;
  }
}

#log-out-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  height: 1.5rem;
  margin: auto 0;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

#log-out-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#log-out-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
  background-color: black;
}



























