// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: lightgrey;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: lightgrey;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}

.main-container {
  // min-height: calc(100vh - 20vh)
}

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
